---
import VueIcon from '../icons/VueIcon.astro'
import TailwindCssIcon from '../icons/TailwindCssIcon.astro'
import NodeIcon from '../icons/NodeIcon.astro'
import MongoIcon from '../icons/MongoIcon.astro'
import GithubIcon from '../icons/Github.astro'
import FirebaseIcon from '../icons/FirebaseIcon.astro'
import TypescriptIcon from '../icons/TypescriptIcon.astro'
import ReactIcon from '../icons/ReactIcon.astro'
import StyleComponent from '../icons/StyleComponent.astro'
const TAGS = {
  VUE: {
    name: 'VueJs',
    class: 'bg-[#EBEBEB] text-[#41B883]',
    icon: VueIcon
  },
  TAILWIND: {
    name: 'Tailwind Css',
    class: 'bg-[#003159] text-white',
    icon: TailwindCssIcon
  },
  NODE: {
    name: 'NodeJs',
    class: 'bg-[#EBEBEB] text-[#549746]',
    icon: NodeIcon
  },
  MONGO: {
    name: 'MongoDB',
    class: 'bg-[#EBEBEB] text-[#0BDE64]',
    icon: MongoIcon
  },
  FIREBASE: {
    name: 'Firebase',
    class: 'bg-[#EBEBEB] text-[#F6820C]',
    icon: FirebaseIcon
  },
  TYPESCRIPT: {
    name: 'TypeScript',
    class: 'bg-[#EBEBEB] text-[#3178C6]',
    icon: TypescriptIcon
  },
  REACT: {
    name: 'ReactJs',
    class: 'bg-[#EBEBEB] text-[#3178C6]',
    icon: ReactIcon
  },
  STYLECOMP: {
    name: 'Styled Components',
    class: 'bg-[#EBEBEB] text-[#3178C6]',
    icon: StyleComponent
  }
}
const projects = [
  {
    title: 'UpTask',
    description: 'Aplicación Web diseñada para gestionar tareas de diversos proyectos de manera eficiente. Los usuarios tienen la capacidad de registrarse y crear cuentas, lo que les permite crear y administrar proyectos fácilmente. Cada proyecto puede contener una lista de tareas específicas relacionadas con el mismo. Además, existe la posibilidad de agregar colaboradores a cada proyecto, con diferentes niveles de acceso: los colaboradores pueden completar tareas, mientras que el creador del proyecto tiene el privilegio de editar o eliminar tanto el proyecto en sí como las tareas asociadas a él.',
    link: 'https://up-task-frontend-iota.vercel.app',
    githubFrontend: 'https://github.com/BryanLlana/UpTask_Frontend',
    githubBackend: 'https://github.com/BryanLlana/UpTask_Backend',
    image: '/img/uptask.webp',
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.NODE, TAGS.MONGO],
    fullstack: true
  },
  {
    title: 'AppSalon',
    description: 'Aplicación web especializada para barberías o salones de belleza, que brinda a los usuarios la capacidad de crear cuentas, facilitando así la reserva de citas de manera eficiente mediante la selección de servicios personalizados según sus necesidades y preferencias. Un proyecto fullstack que engloba tanto el desarrollo del backend como del frontend, asegurando una implementación completa y eficiente que abarca la lógica del servidor y la interfaz de usuario.',
    link: 'https://appsalon-frontend-dun.vercel.app/auth/login',
    githubFrontend: 'https://github.com/BryanLlana/appsalon_frontend',
    githubBackend: 'https://github.com/BryanLlana/appsalon_backend',
    image: '/img/appsalon.webp',
    tags: [TAGS.VUE, TAGS.TAILWIND, TAGS.NODE, TAGS.MONGO, TAGS.TYPESCRIPT],
    fullstack: true
  },
  {
    title: 'PointOfSale',
    description: 'Una plataforma en línea dedicada a la comercialización de sudaderas, tenis y lentes. La aplicación cuenta con dos interfaces: una para administradores y otra para usuarios. Para acceder como administrador, se requiere iniciar sesión, lo que permitirá la gestión de productos mediante la adición, actualización y eliminación de artículos. Además, se ofrece la capacidad de obtener informes de ventas diarias.En el lado del usuario, se brinda la posibilidad de explorar todos los productos disponibles. Los usuarios pueden agregar artículos al carrito y aplicar cupones, si los tienen, para beneficiarse de descuentos especiales.',
    link: 'https://point-of-sale-zeta.vercel.app/',
    githubFrontend: 'https://github.com/BryanLlana/PointOfSale',
    image: '/img/pointofsale.webp',
    tags: [TAGS.VUE, TAGS.TAILWIND, TAGS.FIREBASE],
    fullstack: false
  },
  {
    title: 'Cotizador de CriptoMonedas',
    description: 'Aplicación que te mantiene al tanto de los precios de las criptomonedas con actualizaciones en tiempo real, gráficos intuitivos y alertas personalizadas para tomar decisiones inteligentes sobre tus inversiones',
    link: 'https://bright-crisp-e085dc.netlify.app',
    githubFrontend: 'https://github.com/BryanLlana/CotizadorCripto_React',
    image: '/img/criptomoneda.webp',
    tags: [TAGS.REACT, TAGS.STYLECOMP],
    fullstack: false
  },
  {
    title: 'Administrador de Pacientes',
    description: 'Un software dedicado a la gestión de pacientes que permite agregar, editar y eliminar registros de manera eficiente. Este sistema utiliza la tecnología de almacenamiento local para asegurar la integridad y disponibilidad de los datos de los pacientes.',
    link: 'https://stately-marzipan-3c94e2.netlify.app',
    githubFrontend: 'https://github.com/BryanLlana/AdminPacientes_React',
    image: '/img/admin_pacientes.webp',
    tags: [TAGS.REACT, TAGS.TAILWIND],
    fullstack: false
  }
]
---
{
  projects.map(project => (
    <article class="mb-[50px]">
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2 flex flex-col md:flex-row gap-2 md:items-center flex-wrap">
        {project.title}
        { project.fullstack ? (
          <a href={project.githubFrontend} class={`flex gap-2 rounded-full text-[1rem] font-semibold py-1 px-2 text-white items-center`}>
            <GithubIcon class="size-5" />
            GitHub Frontend
          </a>
          <a href={project.githubBackend} class={`flex gap-2 rounded-full text-[1rem] font-semibold py-1 px-2 text-white items-center`}>
            <GithubIcon class="size-5" />
            GitHub Backend
          </a>
        ) : (
          <a href={project.githubFrontend} class={`flex gap-2 rounded-full text-[1rem] font-semibold py-1 px-2 text-white items-center`}>
            <GithubIcon class="size-5" />
            GitHub
          </a>
        ) }
      </h3>
      <p class="text-lg mb-5 text-pretty">{project.description}</p>
      <ul class="flex gap-2 mb-4 flex-wrap">
        {
          project.tags.map(tag => (
            <li>
              <span class={`${tag.class} flex items-center gap-2 rounded-full text-[1rem] font-semibold py-1 px-2 `}>
                <tag.icon class="size-5" />
                {tag.name}
              </span>
            </li>
          ))
        }
      </ul>
      <a href={project.link} target="_blank" rel="noopener">
        <img class="rounded shadow-2xl shadow-white/10" src={project.image} alt={`Captura de pantalla del proyecto ${project.image}`}>
      </a>
    </article>
  ))
}